.auth {
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--light);
}

.auth-change {
  color: var(--link);
  text-decoration: none;
}

.auth-change:hover {
  text-decoration: underline;
}

@media all and (min-width:1024px) {
  .auth {
    width: 300px;
  }
}
