/* .auth {
  width: 100%;
  height: auto;
  background: #e8e8e8
}

.auth-change {
  color: #446699;
  margin-bottom: 5vh;
  text-decoration: none;
}

.auth-change:hover {
  text-decoration: underline;
}

@media all and (max-width:425px) {
  .auth-change {
    padding-top: 20px;
  }
} */
