.challenge-container {
  background: #dbdbdb;
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  padding: 3% 5% 3% 5%;
}

.challenge-title {
  width: 85%;
  margin: 0;
}

.challenge-start {
  background: #ccc9c9;
  border: 1px solid #cecece;
}

.challenge-start:hover {
  background: #bfbdbd
}

@media all and (max-width:425px) {
  .challenge-container {
    margin: 15px 30px;
  }

  .challenge-start {
    height: 40px;
    margin: 10px 0 0 0;
  }
}
