body {
  font-family: Arial, Helvetica, sans-serif;
}

.code {
  height: 95vh;
  z-index: 0;
  width: 96%;
  margin-left: 2%
}

#run-code {
  width: 100%;
  background: #263763;
  border: 0;
  color: white;
  height: 5vh;
}

#output {
  background: #bababa;
  height: 26vh;
  padding: 20px;
}
