.card-container {
  padding: 10px;
  width: 100%;
  font-size: 12px;
}

.card-time {
  color: #7d7c7c;
}

.card-main {
  background: white;
  white-space: pre;
  overflow: hidden;
  height: 100px;
  padding: 5px;
}

.load {
  background: #a7bed1;
  width: 90%;
  border: 0;
  height: 25px;
}

.delete {
  background: #ce8c8c;
  width: 10%;
  border: 0;
  height: 25px;
}
