.code-editor {
  height: calc(100vh - 50px);
}

.side {
  right: 0;
  top: 50px;
  width: 80vw;
  z-index: 99;
  position: absolute;
  background: #efefef;
  height: calc(100vh - 50px);
  overflow: scroll;
}

@media all and (min-width:1024px) {
  .side {
    width: 40vw;
  }
}

.side-active {
  transition: .2s;
}

.side-inactive{
  width: 0;
  transition: .2s;
  overflow: hidden;
}
