.navbar {
  height: 50px;
  background: black;
  display: grid;
  grid-template-columns: 70% 30%;
}

#title > a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
  grid-column: 1
}

.navbar-controls {
  grid-column: 2;
  display: flex;
  flex-direction: row-reverse;
}

#menu-button {
  border: 0;
  height: 100%;
  width: 50px;
  color: white;
  font-size: 30px;
  background: none;
}

#logout-button {
  border: 0;
  height: 100%;
  width: 50px;
  font-size: 30px;
  background: var(--light);
}

#logout-button > p {
  display: none;
}

@media all and (min-width:1024px) {
  #menu-button {
    width: 80px;
  }
  #logout-button {
    font-size: 12px;
    width: 100px;
  }
  #logout-button > p {
    display: block;
  }
}
