.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.output-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.output-button {
  box-sizing: border-box;
  border: 0;
  border: 1px solid #cecece;
  height: 5vh;
  margin-top: 2%;
  width: 47%;
}
.output-button:hover {
  background: #bfbdbd
}

.run {
  margin-right: 2%;
}

.run-test {
  width: 96%;
}

.save {

}

.output-result {
  box-sizing: border-box;
  margin-top: 2%;
  padding: 3%;
  color: white;
  background: #595959;
  width: 96%;
  white-space: pre;
  min-height: 50vh;
  overflow-x: auto;
  resize: vertical;
}

#reset {
  border: 0;
  width: 96%;
  height: 3vh;
  margin-top: 1vh;
  border: 1px solid #cecece;
}
