.section {
  padding: 20px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section > div > h4 {
  font-size: 25px;
}

.l-grey {
  background: var(--light);
}

.d-grey {
  background: var(--dark);
}

@media all and (min-width:1024px) {
  .section {
    min-height: 250px;
  }
}
