.tab-container {
  display: flex;
  text-align: center;
}

.active-tab, .inactive-tab {
  width: 50%;
  padding: 10px;
  font-size: 12px;
}

.active-tab {
  background: #5d85aa;
}

.inactive-tab {
  background: #4d6f8e;
}
