.signup {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.signup-title {
  color: black;
  margin-top: 5vh;
}

.signup-text {
  border: 0;
  width: 100%;
  font-size: 1.5vw;
  height: 4vh;
  background: none;
  border-bottom: 3px solid black;
}

.signup-text::placeholder {
}

.signup-text:focus {
  outline: none;
  border-bottom: 3px solid #6c91c2;
}

.signup-submit {
  width: 100%;
  border: 0;
  border: 1px solid #cecece;
  border-radius: 20px;
  height: 3vh;
}

@media screen and (max-width: 425px) {
  .signup-title {
    padding-bottom: 20px;
  }
  .signup-text {
    height: 40px;
    font-size: 20px;
    text-transform: lowercase;
  }
  .signup-submit {
    font-size: 15px;
    height: 25px;
  }
  .auth-change {
    padding-top: 20px;
  }
}
