/* Transition times cant be done with display:none */
.right-container {
  height: 95%;
  z-index: 6;
  position: absolute;
  display: flex;
  top: 5vh;
  right: 0;

}

.user-container {

}

.u-active {
  width: 45vw;
  background: white;
}
.u-unactive {
  width: 0vw;
  display: none;
  background: black;
}
