.welcome {
  height: 400px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  width: 40%;
  text-align: center;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-position: center;
}
.welcome-message > h2 {
  margin-top: 7%;
}

.welcome-button {
  width: 40%;
  height: 20%;
  font-size: 1vw;
  border: 0;
  background: #f2f2f2;
}

@media all and (max-width:425px) {
  .welcome {
    display: inline;
  }

  .welcome-message {
    width: 100%;
    font-size: 15px;
    height: 250px;
    padding-top: 50px;
  }
    .welcome-message > h2 {
      margin: 0;
    }

  .welcome-button {
    width: 120px;
    font-size: 12px;
    margin: 20px 0 0 0;
    border-radius: 5px;
    text-transform: lowercase;
  }
}
