.welcome {
  display: flex;
  flex-direction: column;
}

.welcome-message {
  color: white;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/background.jpeg") center;
}

.welcome-button {
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 20px;
  background: var(--light);
}

@media all and (min-width:1024px) {
  .welcome {
    flex-direction: row;
  }

  .welcome-message {
    width: calc(100vw - 300px)
  }
}
