.welcome {
  display: flex;
  flex-direction: column;
}

.welcome-message {
  color: white;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/background.jpeg") center;
}

.welcome-button {
  background: var(--light);
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

@media all and (min-width:1024px) {
  .welcome {
    flex-direction: row;
  }

  .welcome-message {
    width: calc(100vw - 300px)
  }
}

/* .welcome {
  height: 400px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  width: 40%;
  text-align: center;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-position: center;
}
.welcome-message > h2 {
  margin-top: 7%;
}

.welcome-button {
  width: 40%;
  height: 20%;
  font-size: 1vw;
  border: 0;
  background: #f2f2f2;
}

@media all and (max-width:425px) and (max-width: 768px) {
  .welcome {
    display: inline;
  }

  .welcome-message {
    width: 100%;
    font-size: 15px;
    height: 250px;
    padding-top: 50px;
  }
    .welcome-message > h2 {
      margin: 0;
    }

  .welcome-button {
    width: 120px;
    font-size: 12px;
    margin: 20px 0 0 0;
    border-radius: 5px;
    text-transform: lowercase;
  }
}

@media all and (max-width:768px) {
  .welcome {
    flex-wrap: nowrap;

  }
} */
