body {
  margin: 0 auto;
  width: 100vw;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

/* NAVBAR CONTENT */
.navbar {
  width: 100%;
  background: #282c30;
  height: 7vh;
  padding-left: 2%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
  "title controls";
}

#title {
  margin: 0;
}

.navbar-title {
  grid-area: title;
  color: white;
  text-decoration: none;
}

.navbar-controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas:
  "code auth";
}

#menu-button {
  border: 0;
  grid-area: auth;
  color: white;
  background: none;
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1025px) {
  #menu-button {
    font-size: 3vw;
  }
}


/* WELCOME PAGE CONTENT */
.welcome {
  width: 100%;
  height: 40vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  width: 100%;
  text-align: center;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-position: center;
}
.welcome-message > h2 {
  margin-top: 7%;
}

.welcome-button {
  width: 40%;
  height: 20%;
  border: 0;
}


@media screen and (min-width: 1025px) {
  .welcome {
    flex-wrap: nowrap;
  }

  .welcome-message {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }

  .welcome-button {
    width: 20%;
    height: 20%;
    border-radius: 5px;
    border: 0;
  }
}

/* AUTH CONTENT */
.auth {
  width: 100%;
  height: auto;
  background: #373f47
}

.auth-change {
  /* text-decoration: none; */
  color: white;
}

@media screen and (min-width: 1025px) {
  .auth {
    width: 30%;
    height: 100%;
  }
}

/* SIGNUP CONTENT */
.signup {
  text-align: center;
  margin-top: 2%;
}

.signup-text {
  border: 0;
  color: white;
  width: 50%;
  font-size: 1.5vw;
  height: 5vh;
  background: none;
  border-bottom: 3px solid white;
}

.signup-text::placeholder {
  color: white;
}

.signup-text:focus {
  outline: none;
  border-bottom: 3px solid #6c91c2;
}

.signup-submit {
  color: white;
}

@media screen and (min-width: 1025px) {
  .signup  {
    margin-top: 2%;
  }

  .signup-text {
    font-size: 1vw;
  }
}

/* CODE CONTAINER CONTENT */

.code-container {
  display: flex;
  height: 93vh;
  max-width: 100vw;
}

.code-editor {
  background: grey;
  width: 100%;
  height: 93vh;
}

.side {
  background: darkgrey;
  height: 93vh;
  overflow: auto;
  transition: .2s;
}

.side-active{
  width: 50%;
  transition: .2s;
  overflow: auto;
}

.side-inactive{
  width: 0%;
  overflow: hidden;
  transition: .2s;
}

#run-code {
  width: 100%;
  height: 5%;
  background: #282c30;
  color: white;
  border: 0;
}

#output {
  height: 30%;
}

@media screen and (min-width: 1025px) {
}

/* SIDE CONTENT */
.tab-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  background: #c7d6d2;
}

.active-tab {
  width: 55%;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .1% 0 .1%;
  background: #c7d6d2;
}

.inactive-tab {
  width: 50%;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99afaa;
}


/* USER CONTAINER CONTENT */

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CODE CARD CONTENT */
.card-container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 90%;
  height: 20vh;
}

.card-time {
  color: #999999;
  width: 100%;
  height: 10%;
}

.card-main {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  white-space: pre-line;
  padding: 2%;
}

.code-manage {
  align-self: flex-end;
  width: 100%;
  height: 20%;
}

.load {
  border: 0;
  background: #a7bed1;
  width: 90%;
  height: 100%;
}

.delete {
  border: 0;
  background: #ce8c8c;
  width: 10%;
  height: 100%;
}
