*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* background: #f2f2f2; */
  background-color: white;

  --light: #e8e8e8;
  --dark: #d2d2d2;
  --link: #446699;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* NAVBAR CONTENT */
@import url('./css/navbar.css');

/* WELCOME PAGE CONTENT */
@import url('./css/welcome.css');

/* LOGIN/SIGNUP CONTENT */
@import url('./css/auth.css');

/* SIGNUP CONTENT */
@import url('./css/signup.css');

/* SECTION CONTENT */
@import url('./css/section.css');

/* CODE CONTAINER CONTENT */
@import url('./css/code-container.css');

/* SIDE CONTENT */
@import url('./css/side.css');

/* USER CONTAINER CONTENT */
@import url('./css/user-container.css');


/* CODE CARD CONTENT */
@import url('./css/code-card.css');

/* OUTPUT CONTENT */
@import url('./css/output.css');

/* CREATE CHALLENGE CONTENT */
@import url('./css/create-challenge.css');

/* CHALLENGE CONTENT */
@import url('./css/challenge.css');
